[licenses]
allow = [
	"MIT",
	"Apache-2.0",
	"BSD-2-Clause",
	"BSD-3-Clause",
	"ISC",
	"Unicode-3.0",
	"Zlib",
	"0BSD",
	"CC0-1.0",
	"MPL-2.0",
]

[bans]
multiple-versions = "warn"
wildcards = "deny"

[advisories]
db-urls = ["https://github.com/rustsec/advisory-db"]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
